@font-face {
    font-family:"font1" ;
    src: url(./assets/Karla-Medium.ttf);     /* police recupere sur google font mis dans assets  */
}


h1 {
    font-family: "font1" serif;                       /* deuxieme police si premiere marche pas */
text-transform: uppercase;
letter-spacing: 2px;   /* espace des lettre */
font-size: 4rem;     /* taille de la police */
color: rgba(0, 0, 139, 0.993);     /* couleur texte */
text-shadow: darkgray 5px 0px 0px ;   /* ombre */
text-align: center;           /* centrer le texte*/
}

h2 {
font-weight: bold;     /*texte en gras */
font-family: 'Courier New', Courier, monospace;     /* police du texte */
}


h1::first-letter {       /* changement de la premiere lettre */
    color: red;
    font-size: 130%;
  }





  /****************************************background **************************************************/


                                                                    
    body {
      background: white;    /* couleur de fond */
      background: url(./assets/canape.jpg) fixed center/cover;    /* inserer une img  center/cover possible right ou left/cover fixed img ne bouge pas en fond img se repet pas */
      height: 600vh;                                       /* longeur de la page height veut dire hauteur  */
      /*overflow: hidden;                                    /* suprime les marge */

  }

  /******************************************boite **********************************************************/


  main {
      background: white;
      width: 90%;           /* largeur toujours en % pour s'adpter a tout type ecrant */
      min-height: 500px;     /* hauteur en pixel  (hauteur de la boite */
     /* margin: 10px 20px 45px 12px;    correspond a ses aiguille haut droite bas gauche */
     /*margin: 50px 50px;               correspond a hautbas   droitegauche */
     /*margin-top: 100px;               que en haut */
     /*margin-left: 200px;              que a gauche */
     margin: 10px auto;                    /*marge auto gauche droite */
    /* padding: 15px 15px;                    marge interieur une seule valeur vaut 4 coté */
    padding: 15px;
    border-radius: 15px;                  /* arondit d'une boite */
    box-shadow: 1px -1px 19px 0px rgba(0, 0, 0, 0.301);    /* ombre sur boite */
    
  }


  /*********************positioning**************************************/


  